.playlist-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  gap: 10px;
  .card {
    color: #a7a7a7;
    padding: 10px;
    box-sizing: border-box;
    img {
      height: 200px;
      cursor: pointer;
      text-align: center;
    }
    .bottom-box {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 5px 0px;
    }
    &:hover {
      background-color: #232323;
    }
  }
}
